<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item  active">
            <div class="row">
                <div class="col-sm-4">
                    <div class="circle1">

                        Contact details
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                        <div class="circle2">

                            About me
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="circle3">
                        Skills
                        
                    </div>

                </div>

            </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-4">

                    <div class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                        <div class="circle2">

                            Experience
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="circle1">

                        Education
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="circle1">

                        Social media
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col-sm-4">
                    <div class="circle1">

                        Contact
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="circle1">

                        About me
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                        <div class="circle3">
                            <p> Contact
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>