<div class="innercontainer ">
    <div class="row  text-dark   p-3 justify-content-center">

        <h3>Education</h3>

    </div>

    <div class="col justify-content-center border">
        <div class="row  border">
            <div class="col-sm-8 justify-content-center  border">
                <div class="circle "></div>
                2019-2022 Diploma of Software development
                Wells international college,
                Level 5/316 Adelaide St, Brisbane City QLD 4000, Australia
            </div>
        </div>
    </div>


    <!--<div class="col justify-content-start border">
            <div class="row justify-content-start"> 
                2019-2022    Diploma of Software development
                Wells international college, 
               Level 5/316 Adelaide St, Brisbane City QLD 4000, Australia
       
            </div>
            <div class="row"> 
                2018-2019     Leadership and management 
                Greystone college, 
           Level 1&2/232 Adelaide St, Brisbane City QLD 4000, Australia

            </div>
            <div class="row"> 
                2017-2018     English for academic purposes
         The University of Queensland, 
        ICTE-UQ St Lucia campus, QLD 4072, Brisbane, Australia

            </div>
            <div class="row"> 
                2006-2012     Bachelor’s degree in software engineering 
         Universidad del Cauca, 
        Popayán, Colombia

            </div>

        </div>-->



</div>