<div class="innercontainer ">
    <div id="education" class="row  text-dark   p-3 justify-content-center">

        <h3>Education</h3>

    </div>

    <li class="list-group-item"> 2019-2022 Diploma of Software development
        <ul>
            <li>
                Wells international college,
                Level 5/316 Adelaide St, Brisbane City QLD 4000, Australia</li>
        </ul>
    </li>

    <li class="list-group-item">2018-2019 Leadership and management
        <ul>
            <li>Greystone college,
                Level 1&2/232 Adelaide St, Brisbane City QLD 4000, Australia
            </li>
        </ul>
    </li>

    <li class="list-group-item">
        2017-2018 English for academic purposes
        <ul>
            <li>
                The University of Queensland,
                ICTE-UQ St Lucia campus, QLD 4072, Brisbane, Australia
            </li>
        </ul>
    </li>

    <li class="list-group-item">
        2006-2012 Bachelor’s degree in software engineering
        <ul>
            <li> Universidad del Cauca,
                Popayán, Colombia </li>
        </ul>
    </li>

</div>