<div class="innercontainer">

<div class=" row text-dark p-5 text-justify justify-content-center" >
    

    <div id="experience" class="col">

        <h3>
            Experience
        </h3>
    </div>
    <div class="w-100"></div>

    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Wordpress developer – Freelance, Brisbane / 2020

            <ul>
                <li>Analysis and design according to user needs</li>
                <li>Customising and themes to meet clients’ requirements.</li>
                <li>Manage pages, posts and forms</li>
                <li>Monitor uptime, hosting, and databases to ensure site is performing at maximum capacity</li>
                <li>Local configuration of the CMS (using Windows, Xampp and PhpMyAdmin)</li>

            
              </ul>


            </li>
        <li class="list-group-item">
            Web developer - Wells International College, Brisbane / 2019 - 2020
<ul>

    <li>Web development using C# and SQL Server, HTML, CSS and Javascript</li>
    <li>Design of graphical user interface with (UI Conceptual Plan and Wireframe)</li>
    <li>Manage ICT projects</li>
    <li>Definition of IT needs</li>
    <li>Match ICT needs with the strategic direction of the organization</li>
    <li>Apply testing techniques for software development</li>


</ul>

            
        </li>
        <li class="list-group-item">

            Functional analyst - TopGroup, Bogotá – Colombia / 2017



            <ul>

            <li>Analysis and specification of requirements and Oracle SQL programming.</li>
            <li>Analysis and design according to user needs</li>
            <li>Defining browser requirements and contributing to testing scenarios  </li>
           
          

            </ul>
        
        </li>


        <li class="list-group-item">

            Functional analyst - Intergrupo, Bogotá – Colombia / 2014 - 2017



            <ul>

            <li>Functional analyst in a telecommunications company (Claro Colombia),
                focused on gathering and documenting business requirements and developing SQL (SQL Server
                2012) for testing. Designing solutions for the users of the client and meeting the quality
                requirements of the final product.</li>
  
            </ul>
        
        </li>

      </ul>



   
   
</div>

</div>