<div class="innercontainer">

    <div class=" row text-dark p-5 text-justify justify-content-center">


        <div id="experience" class="col">

            <h3>
                Experience
            </h3>
        </div>
        <div class="w-100"></div>


        <ul class="list-group list-group-flush">
            <li class="list-group-item">Wordpress developer – Freelance, Brisbane / 2020

                <ul>
                    <li>Analysis and design according to user needs.</li>
                    <li>Customising themes to meet clients’ requirements.</li>
                    <li>Manage pages, posts and forms, online payments</li>
                    <li>SSL Configuration.</li>
                    <li>Monitor uptime, hosting, and databases to ensure site is
                        performing at maximum capacity</li>
                    <li>Local configuration of the CMS (using Windows, Xampp
                        and PhpMyAdmin)</li>

                </ul>


            </li>

            <li class="list-group-item">

                Functional analyst - TopGroup, Bogotá – Colombia / 2017

                <ul>

                    <li>Analysis and specification of requirements</li>
                    <li>Oracle SQL programming.</li>
                    <li>Analysis and design according to user needs</li>
                    <li>Defining browser requirements and contributing to testing scenarios </li>

                </ul>

            </li>


            <li class="list-group-item">

                Business analyst - Intergrupo, Bogotá – Colombia / 2014 - 2017

                <ul>
                    <li>
                        Business analyst in multiple projects including a telecommunications company (Claro Colombia), 
                        focused on gathering and documenting business requirements and developing SQL (SQL Server 2012) 
                        for testing purposes. Designing solutions according to user needs and meeting the quality requirements 
                        of the final product.
                    </li>
                </ul>

            </li>


            <li class="list-group-item">

                Software developer - Carvajal S.A, Bogotá – Colombia / 2014
            <ul>

                <li>
                    Software development and maintenance of a document digitalisation framework using C#, Html, .NET 
                    framework and SQL Server 2012.
                </li>

            </ul>
            </li>


            <li class="list-group-item">

                Project engineer - Nexura Internacional S.A, Bogotá – Colombia / 2012 - 2014
            <ul>

                <li>
                    Migration of the user authentication system of the Financial Superintendence of Colombia with duties 
                    such as configuring and migrating all information from Oracle internet directory to OpenLDAP using 
                    RedHat 5.4, CentOS and Windows server 2012, Java authentication, Active directory and providing training 
                    to all IT area in tools such as JXplorer and XManager as well as the backup process in case of failure.
                </li>
                <li>Final product presentation of the main website to the client with duties such as explaining the 
                    functionalities of the new website.</li>
                <li>Software testing with tasks such as creating and executing test cases and reporting bugs using the tools 
                    SeleniumHQ, JMeter, visualVM, Bugtracker.</li>
                <li>Gathering Requirements for different government entities.</li>

            
            </ul>
            </li>



            <li class="list-group-item">

                Software developer - Agencia Cautiva - Colombia / 2012

            <ul>

                <li>
                    Web site development with PHP, HTML, MySQL, Javascript.Design and development of online games using HTML5.Analysis of requirements and design of the solution according to user needs. 
                </li>

               
            
            </ul>
            </li>




            <li class="list-group-item">

                IT Support and training - Universidad del Cauca, Popayán – Colombia / 2012
            <ul>

                <li>
                    Creating lesson plans and providing training for teachers and administrative assistants on general 
                    applications used in the University including new academic information system as well as creating 
                    video tutorials on the use of general software. 
                </li>

            
            
            </ul>
            </li>



        </ul>





    </div>

</div>