<div class="innercontainer">

    <div class=" row text-dark p-5 text-justify justify-content-center">


        <div id="experience" class="col">

            <h3>
                Experience
            </h3>
        </div>
        <div class="w-100"></div>


        <ul class="list-group list-group-flush">
            <li class="list-group-item">Wordpress developer – Freelance, Brisbane / 2020
    
                <ul>
                    <li>Collaborated with analysis and web design according to user needs.</li>
                    <li>Customised themes to meet clients’ requirements.</li>
                    <li>Strengthened customers reliability on the website by identifying up to 6 security gaps and implementing methods such as SSL, re-captcha and restricting exposed internal users information as well as restricting access to specific areas.</li>
                    <li>Proposed and integrated forms plugins allowing the business owners to manage their own forms including online payments.</li>
                
                </ul>
            </li>

            <li class="list-group-item">

                Functional analyst - TopGroup, Bogotá – Colombia / 2017

                <ul>
                    <li>In charge of effective communication between clients and development team.</li>
                    <li>Improved the accuracy of the client information records and reports by 60% by designing the solution for their whole process of meat production. </li>
                    <li>Contributed with project management duties as well as SQL sentences, testing, establishing development and deployment environments, presentations and meetings.</li>
                
                </ul>

            </li>


            <li class="list-group-item">

                Business analyst - Intergrupo, Bogotá – Colombia / 2014 - 2017

                <ul>
                    <li>
                        Participated in projects for 4 clients of different background, leading up to 13 people with different roles including business analysts, testers, developers and collaborated with the architecture area to take decisions according to the user needs and technical restrictions. 

                    </li>
                    <li>
                        Proposed and leaded a solution for a 20 modules project, actively involved in decisions and validations in terms of UI Design, Requirements, development, testing and deployment, until the closing stage, validating the product with the client and achieving approvals by client stakeholders.
                    </li>
                </ul>

            </li>


            <li class="list-group-item">

                Software developer - Carvajal S.A, Bogotá – Colombia / 2014
            <ul>

                <li>
                    Developed new requirements, fixed bugs, and maintained an existing software for document digitalisation using C#, Html, .NET framework and SQL Server 2012.
                </li>

            </ul>
            </li>


            <li class="list-group-item">

                Project engineer - Nexura Internacional S.A, Bogotá – Colombia / 2012 - 2014
            <ul>
                <li>
                    Analysed user and technical requirements, designed solutions, proposed use cases, leaded teams of up to 13 people and validated the artefacts with the client and closed the projects in charge. 
                </li>
                <li>Reduced operations costs by implementing an open source user authentication system (OpenLDAP) for the client with duties such as configuring, processing and migrating all information.</li>
                <li>Increased the quality of the products by planning, creating, executing test cases and reporting bugs as well as developed SQL (SQL Server 2012) to validate the information accuracy between the front-end and the database.</li>
                <li>Performed technical and end-user training of personnel. </li>
            
            </ul>
            </li>



            <li class="list-group-item">

                Software developer - Agencia Cautiva - Colombia / 2012

            <ul>

                <li>
                    Web site development with PHP, HTML, MySQL, Javascript.Design and development of online games using HTML5.Analysis of requirements and design of the solution according to user needs. 
                </li>

               
            
            </ul>
            </li>




            <li class="list-group-item">

                IT Support and training - Universidad del Cauca, Popayán – Colombia / 2012
            <ul>

                <li>
                    Creating lesson plans and providing training for teachers and administrative assistants on general 
                    applications used in the University including new academic information system as well as creating 
                    video tutorials on the use of general software. 
                </li>

            
            
            </ul>
            </li>



        </ul>





    </div>

</div>