<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title %></title>
    <%-  include ('partials/head.html')%>
</head>

<body>

    <%-  include ('partials/navigation.html')%>

    <div class="bgimg">

        <div class="container border border-dark">
            <div class="row  text-dark p-5 text-center">
                <div class="col-md-5 sm6">
                    <br /><br /><br /><br />
                    <img src="/img/descarga.png" class="w-75 p-3 " alt="Responsive image">
                </div>
                <div class="col-md-6 sm6 text-justify">
                    <br /><br />
                    <h3>
                        About me
                    </h3>
                    <p>
                        IT professional with experience developing and testing software applications currently doing a
                        diploma
                        of Software development. Knowledgeable with agile principles across the entire software
                        lifecycle
                        and
                        well versed in programming languages SQL, JavaScript, C#, PHP. Highly accomplished to work in
                        teams
                        to
                        achieve the goals, responsible, detail-orientated withmanagement and leadership skills.
                    </p>
                    <p>

                        <!--Carousel-->

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item  active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="circle1">

                                            ..IT professional with experience devel
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div
                                            class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                                            <div class="circle2">

                                                About me
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="circle3">

                                            ..IT professional with experience devel
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <div
                                            class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                                            <div class="circle2">

                                                nodejs
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="circle1">

                                            ..IT professional with experience devel
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="circle1">

                                            ..IT professional with experience devel
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="circle1">

                                            ..IT professional with experience devel
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="circle1">

                                            ..IT professional with experience devel
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div
                                            class="d-block w-100 col-rg-2 text-center animate__animated animate__bounce">
                                            <div class="circle3">
                                                <p> did I use?
                                                    Nodejs
                                                    Bootstrap
                                                    Animated.css
                                                    Express
                                                    NPM
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    </p>
                </div>
            </div>

        </div>

    </div>




    <div class="container-fluid" id="about">
        <div class="row  text-white p-5 text-center bg-dark">
            <div class="col sm6">
                <i class="fab fa-youtube fa-5x">

                </i>
            </div>
            <div class="col sm6">
                <h4>Check how to create your first website with Nodejs</h4>
                <p>Nodejs is .....</p>
            </div>
        </div>
    </div>

    <!--footer-->
    <%-  include ('partials/footer.html')%>

</body>

</html>