<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title %></title>
    <%-  include ('partials/head.html')%>
</head>

<body>

    <%-  include ('partials/navigation.html')%>

    <div class="bgimg">
        <div class="container border border-dark">
            <div class="row  text-dark p-5 text-center">
                <div class="col-md-5 sm6">
                    <br /><br /><br /><br />
                    <img src="/img/descarga.png" class="w-75 p-3 " alt="Responsive image">
                </div>
                <div class="col-md-6 sm6 text-justify">
                    <br /><br />
                    <h3>
                        About me
                    </h3>
                    <p>
                        IT professional with experience developing and testing software applications currently doing a
                        diploma
                        of Software development. Knowledgeable with agile principles across the entire software
                        lifecycle
                        and
                        well versed in programming languages SQL, JavaScript, C#, PHP. Highly accomplished to work in
                        teams
                        to
                        achieve the goals, responsible, detail-orientated withmanagement and leadership skills.
                    </p>
                    <p>

                        <!--Carousel-->
                        <%-  include ('carousel.html')%>

                    </p>



                </div>
            </div>


            <!--Skills-->

            <%-  include ('skills.html')%>

            <!--Experience-->

            <%-  include ('experience.html')%>
            
            <!--Education-->
            <%-  include ('education.html')%>

        </div>


    </div>


    <!--footer-->
    <%-  include ('partials/footer.html')%>

</body>

</html>