<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title %></title>
    <%-  include ('partials/head.html')%>
</head>

<body>

    <%-  include ('partials/navigation.html')%>

    


    <div class="bgimg">
        <div class="container border border-dark">

            
<div class="sticky">
            <a href="files/MelissaVelaResume.pdf" class="button" download><i class="fa fa-download"></i> Download Resume</a>
        </div>

            <div class="row  text-dark p-5 text-center">

              

                <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>


                <div class="col-md-5 sm6">
                    <br /><br />
                    <img src="/img/descarga3.png" class="w-75 p-2 " alt="Responsive image">
                </div>
                <div id="aboutme" class="col-md-6 sm6 text-justify">
                    <br /><br />
                    <h3>
                        About me
                    </h3>
                    <p>
                        IT professional with experience in business analysis and software development. Able to work with agile principles across the entire software lifecycle and knowledge in programming languages such as SQL, JavaScript, C#, PHP, HTML. Highly accomplished to work in teams to achieve the goals, responsible, detail- orientated with management and leadership skills.
                    </p>
                    <p>

                        <!--Carousel-->
                        <%-  include ('carousel.html')%>

                    </p>



                </div>
            </div>


            <!--Skills-->

            <%-  include ('skills.html')%>

            <!--Experience-->

            <%-  include ('experience.html')%>
            
            <!--Education-->
            <%-  include ('education.html')%>

        </div>


    </div>


    <!--footer-->
    <%-  include ('partials/footer.html')%>

</body>

</html>