
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title %></title>
    <%-  include ('partials/head.html')%>
</head>

<body>

    <%-  include ('partials/navigation.html')%>

    <div class="bgimg">
        <div class="container border border-dark">

            
<div class="sticky">
           
        </div>

           

              
                <div class="table-refresh" data-url="/data">




                 <!--   <table class="table-refresh__table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dom</td>
                                <td>45</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-refresh__options">
                        <span class="table-refresh__label">
                            Last update:
                        </span>
                        <button type="button" class="table-refresh__button"></button>
                        <i class="material-icons">refresh</i>
                    </div>
                
                    -->
                </div>





                <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>


             
              
           


        </div>


    </div>


    <!--footer-->
    <%-  include ('partials/footer.html')%>

  

</body>

</html>