
body{
  
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #48389e;
}

a {
  color: rgb(77, 72, 72);
}

.progress-bar-purple {
  background: grey;
  
}

.bgimg{
  
  background-image: 
  url('../img/descargaq.png') ,
  url('../img/descargaq.png.png') ;
  background-position:
  top right,
  top left;
  
  background-repeat: repeat, repeat;
 
 
}

.innercontainer{

  background-color:white;

  max-width: 80%;
  margin: auto;
  align-items: center;
  align-content: center;

}

@media (max-width: 767px) {
  
  .innercontainer{
    background-color:white;

    max-width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
  }
}

.container{

  background-color: aliceblue;
  background-image: 
  url('../img/bolitas.png');
  
  background-position:
  top right;
  background-repeat: no-repeat;

}
.border {
  border-width:5px !important;
}

h3
{
 color: #D80D57;   
}



.circle {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 20px; height: 20px;
  border-radius: 50%;
  display: inline-block;
  
  

}
.innerTEXT{
  position:center;
  top:80px;
  left:60px;
}

.circle p {
  vertical-align: middle;
  display: table-cell;
}


.circle1 {
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a1ffce, #faffd1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a1ffce, #faffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 150px; height: 150px;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
  margin: 20px auto;

}

.circle2 {
 
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  width: 150px; height: 150px;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
  margin: 20px auto;

}

.circle3 {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 150px; height: 150px;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
  margin: 20px auto;

}



.col{
  text-align: center; 

}
.row{
  text-align: center; 
}


.image-container {
  display: flex;
  justify-content: center;
}





.scroll {
  color: #fff;
  margin-top: 100px
}

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 30px;
  z-index: 98;
  padding: 21px;
  background-color: rgba(143, 50, 219, 0.8)
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, .8);
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}


btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:  #48389e;
 
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
